{% extends 'base.html' %}
{% block common %}
        <div class="container my-3">
            <h2 class="text-center h2">
                Corona Virus Probability Detector
            </h2>
            <div class="text-center alert alert-danger h3" role="alert">
                An error occured while detecting the probability!
            </div>
            <a href="/">
                <button class="btn btn-success my-2 navbar-brand" style="margin-bottom: 30px !important;">
                    Go Back
                </button>
            </a>
        </div>
{% endblock %}  